<IfModule mod_rewrite.c>
    RewriteEngine ON
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?parametros=$1 [QSA,L]
</IfModule>

# Permite que PUT, PATCH e DELETE passem pelo PHP sem serem bloqueados pelo servidor
<IfModule mod_headers.c>
    Header always set X-Content-Type-Options "nosniff"
</IfModule>